{% extends 'products/base_products.html' %}

{% block title %}
    {{ details.title }}
{%  endblock%}

{% block content %}
    <!-- <h1 class="mb-4"> {{ details.title }}</h1>
    <img src="{{ details.img }}" class="card-img-top" alt="image" style="min-width: 220px; max-width: 300px; height:auto">
    <p> {{details.description}} </p>
    <p ><s style="color:rgb(177, 55, 55)">{{ details.oldPrice }} RUB</s></p>
    <p >{{ details.price }} RUB</p>
    <div>
        <a class="btn btn-light btn-lg active" role="button" aria-pressed="true" href="{{ details.link }}">Buy Now</a>
    </div> -->

    <!-- <div class="card mb-3" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ image }}" class="card-img" alt="img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ details.title }}</h5>
              <p class="card-text"><s style="color:rgb(177, 55, 55)">{{ details.oldPrice }} RUB</s></p>
              <p class="card-text">{{ details.price }} RUB</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <a class="btn btn-light btn-lg active" role="button" aria-pressed="true" href="{{ details.link }}">Buy Now</a>
            </div>
          </div>
        </div>
        <p>rhjcjdrb кроссовочки</p>
      </div> -->


   <div id="container">
    <section  id="section-image">
      <img src="{{ details.detailedImage }}"  alt="..." >
  </section>
    <section id="content">
      <h1 class="mt-5"><b>{{ details.brand|title }}</b></h1>
      <p class="mb-4">{{ details.title|title }} RUB</p>
      <p class="mt-4"><s >{{ details.oldPrice }} RUB</s></p class="mt-5">
      <p class="mb-2" style="color:rgb(177, 55, 55)">{{ details.price }} RUB</p>

      <a class="btn btn-light btn-lg " id='buy-btn' role="button" aria-pressed="true" href="{{ details.link }}">Buy Now</a>
            <p class="card-text mt-3"><small class="text-muted">Updated: {{ details.last_update }}</small></p>
    </section>
    </div>
{% endblock %}
<!-- class="float-left mr-3 mt-0" -->