{% extends 'products/base_products.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
 <div class="wrapper">
  <nav id="sidebar active" class="mr-4">
     <button type="button" id="sidebarCollapse" data-toggle="collapse" data-target=".list-unstyled" class="btn btn-light">
                <i class="fas fa-align-left"></i>
                <span>Brands</span>
            </button>
    <ul class="collapse list-unstyled components mt-3">
      {% for brandName in brandList %}
      <li>
        <a href="{{ brandName.get_absolute_url }}">{{brandName|title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
         
<div id="content mb-3">
  <nav class="navbar navbar-expand navbar-light bg-white mt-0">
      <div class="navbar-nav" >


           

        <a class="nav-item nav-link active" href="?order={{order_type}}price">По цене  <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"  href="?order={{order_type}}title">По названию </a>
    </div>
  </nav>

  <h1 class="mb-5">Men's   footwear:</h1>
  <div class="card-group">
     {% for product in page_object %}
     <div class="col mb-2"  >
      <a href="{{ product.get_absolute_url }}" class="product" >
        <div class="card-deck" >
          
          <img src="{{ product.img }}" class="card-img-top image-border" alt="image">
          <div class="card-body">
            <h5 class="card-title">{{ product.title|title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><s >{{ product.oldPrice }} RUB</s> <b style="color:rgb(177, 55, 55)"> {{ product.price }} RUB </b></p>
            <p class="card-text mt-auto"><small class="text-muted">Updated: {{ product.last_update }}</small></p>
          </div>
        
        </div> </a>
</div>
       
    {% endfor %}
</div>
<form action="{% url 'products_url' %}" method="post">
  {% csrf_token %}
  <button type="submit" class='btn btn-light' id="refresh-btn">Refesh</button>
</form>
{% endblock %}
</div>
<!-- 

btn mb-3 btn-white  -->