{% extends 'products/base_products.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
<form action="{% url 'products_url' %}" method="post">
  {% csrf_token %}
  <button type="submit" class='btn btn-light'>Refesh</button>
</form>
  <h1 class="mb-5">List of products:</h1>
  <div class="card-group">
     {% for product in products_list %}
     <div class="col mb-2"  >
      <a href="{{ product.get_absolute_url }}" class="btn mb-3 btn-white product"  style="min-width: 220px; max-width: 360px; height: 480px; text-align: left; ">
        <div class="card-deck" >
          
          <img src="{{ product.img }}" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">{{ product.title|title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><s style="color:rgb(177, 55, 55)">{{ product.oldPrice }} RUB</s></p>
            <p class="card-text">{{ product.price }} RUB</p>
            
            <p class="card-text mt-auto"><small class="text-muted">Updated: {{ product.last_update }}</small></p>
          </div>
        
        </div> </a>
</div>
        
    {% endfor %}
</div>
{% endblock %}